{% extends 'base.html' %}

{% block css %}
<style>
    
    

</style>
{% endblock %}

{% block content %}

<div class="challenge-content-wrapper">
    <div class="two-player">
        <div class="small-container">
          <div class="row">
            <div class="col-12">
    
<div class="challenge-container">
    <h2>Challenge</h2>
    <form method="POST" action="{{url_for('twoPlayerChallenge')}}" id="wordform">
        
        {% if error %}
        <div class="challenge-msg">{{ error }}</div>
    {% endif %}

        <label for="word">Enter Word:</label><br>
        <input type="text" id="word" name="word" required>
        <label for="hint">Enter Hint:</label><br>
        <input type="text" id="hint" name="hint" required>
        <label for="player">Choose a player:</label><br>
        <input type="text" id="player" name="player" required><br>
        <input type="submit" value="Send Challenge" id="submitChallenge">
    </form>

</div>

</div>

</div>
</div>
</div>
</div>

{% endblock %}